@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Special+Gothic+Expanded+One&display=swap');
*{
    padding: 0p;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #D5FF40;
}

#nav {
    display: flex;
    padding: 60px 85px;
    padding-bottom: 100px;
    font-size: 20px;
}

#nav1{
    width: 50%;
}


#nav2{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#nav2 h3{
    font-weight: 200;
    color: #111;
    font-family: Orbitron;
    letter-spacing: 2px;
}
#nav1 h3{
    font-weight: 700;
    color: #111;
    font-family: Orbitron;
    letter-spacing: 2px;
}
#hero{
    padding: 30px 80px;
}

#hero1{
    display: flex;
}
#hero1 h1{
    font-size: 220px;
    font-family: "Special Gothic Expanded One";
    text-transform: uppercase;
    
}

#video1{
    margin-top: 60px;
    margin-left: 50px;
    height: 120px;
    width: 550px;
    background-color: #111;
    border-radius: 100px;
    background-image: url(https://images.unsplash.com/photo-1548516173-3cabfa4607e9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGJsYWNrJTIwYW5kJTIwd2hpdGV8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
}

/* #cir {
    padding: 0px 80px;
    display: flex;
    padding-top: -400px;

}
.circle{
    height: 30px;
    width: 30px;
    background-color: #111;
    border-radius: 100px;
}

#cir2{
    margin-left: 20px;
} */

#vid{
    height: 100px;
    width: 100px;
    background-color: #111;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 10px;
    border: 4px solid #282828;
    display: flex;
    justify-content: center;
    
    
}

#vid i{
    z-index: 10;
    color: #D5FF40;
    font-size: 45px;
    margin-top: 20px;
    
}

#hero2 {
    margin-top: -100px;
    display: flex;
}
#hero2 h1{
    font-size: 220px;
    font-family: "Special Gothic Expanded One";
    text-transform: uppercase;
    
}

#hero2-1{
    width: 60%;
}

#hero2-2{
    width: 40%;
    margin-top: 100px;
}

#hero2 p{
    font-size: 24px;
    font-family: Orbitron;
    font-weight: 100;
    color: #3a3a3a;
    line-height: 2;
    letter-spacing: 2px;
}

#hero3 {
    display: flex;
    padding: 30px 0px;
    justify-content: space-evenly;
    align-items: center;

}

#line{
    height: 0px;
    width: 800px;
    color: aqua;
    border-bottom: 1px solid #6d6d6db4;
}

.button{
    background-color: #D5FF40;
    padding: 10px 20px !important; 
    font-size: 24px;
    font-family: Orbitron;
    font-weight: 100;
    color: #3a3a3a;
    line-height: 2; 
    letter-spacing: 2px;
    border: 2px solid #111;
    border-radius: 50px; 
}

#hero--2{
    height: 890px;
    width: 90%;
    margin-top: 0px;
    margin-left: 5%;
    background-image: url(https://plus.unsplash.com/premium_photo-1717698797869-d67672c9741f?q=80&w=1112&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 200px 200px 0px 0px;
}